<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset-2"><h1>Enter a search term for some outfit inspiration</h1></div>
    <!-- <h1>Enter a search term to discover outfit inspiration</h1> -->
  </div>
</div>

<!-- <form action="/hello/" method="POST">
    A Greeting: <input type="text" name="greeting">
    <br/>
    Your Name: <input type="text" name="name">
    <br/>
    <input type="submit">
</form> -->

<form action="/" method="POST"> <!--was /hello/-->
    <!-- A Greeting: <input type="text" name="greeting">
    Your Name: <input type="text" name="name"> -->
    Your Search: <input type="text" name="search">
    <br/>
    <br/>
    <!-- Your Name: <input type="text" name="name">
    <br/> -->
    <input type="submit">
</form>
